html {
background-color: #111155;
margin: auto;
width: 50%;
justify-content: center;
}

.tpmrqe {
color: #FFFFFF;
}

.Name {
color:#FFFFFF;
text-decoration:none;
align-text: center;
}


.Grade {
color:#FFFFFF;
text-decoration:none;
}
